
.App{
  position: relative;
  width: 100%;
  height: 400vh;
  background-color:#000;
  overflow: hidden;
}
.divder {
  width: 100%;
  height: 5px;
  background-color: rgb(255, 255, 255);
}
.inner{
  height: 100vh;
}